<%= form_for(@user) do |f| %>

	<div class='field'>
		<%= f.label :fav_author, "Who's your favorite author?" %><br>
		<%= f.text_field :fav_author %>
	</div>

	<div class='field'>
		<%= f.label :fav_genre, "What's your favourite genre?" %><br>
		<%= f.select :fav_genre, genre_options, prompt: true %>
	</div>

	<div class='field'>
		<%= f.label :age, "How old are you?" %><br>
		<%= f.number_field :age, min: 10, max: 90 %>
	</div>

	<div class='field'>
		<%= f.label :pages, "Do you prefer longer or shorter books?" %></br>
		<%= f.select :pages, pages_options, prompt: true %>
	</div>

	<div class='field'>
		<%= f.label :level, "Do you like your books to be something to bite into or more of a casual read?" %><br>
		<%= f.select :level, level_options, prompt: true %>
	</div>

	<div class='field'>
		<%= f.label :mood, "How are you feeling?" %><br>
		<%= f.select :mood, mood_options, prompt: true %>
	</div>

	<div class='field'>
		<%= f.label :email, "Fill in your email if you want the recommendations in your inbox!" %><br>
		<%= f.text_field :email %>
	</div>

	<div class='field'>
		<br>
		<%= f.submit "Find my next book!" %>
	</div>

<% end %>