<h2>You should read "<%= @rec[0][0] %>" next (score: <%= @rec[0][1] %>)</h2>

<br>

<h3>Other recommended books:</h3>
<table>
	<tr>
		<th>Title</th>
		<th class='secondCol'>Score</th>
	</tr>
	<% @rec[1..99999].each do |r| %>
		<tr>
			<td>"<%= r[0] %>"</td>
			<td class='secondCol'><%= r[1] %></td>
		</tr>
	<% end %>
</table>

<br><br><h2> user inputs for testing </h2>

	<p>name: <%= @user.name %></p>
	<p>pages: <%= @user.pages %></p>
	<p>level: <%= @user.level %></p>
	<p>mood: <%= @user.mood %></p>
